.home-header{
    text-align: center;
    margin-top: 2rem;
}

.blog{
    text-align: center;
    margin-top: 2rem;
    border: 1px solid black;
    width: 60%;
    padding-left: .5rem;
    display: flex;
    margin: auto;
    border-radius:  0px 25px  25px 0px ;

} 

.blog input{
    border: none;
    flex: 1;
}

.blog input:focus{
    outline: none;
}

.blog button{
    padding: .5rem 1.5rem;
    border: 1px solid black;
    border-radius:  0px 25px  25px 0px;
    background-color: #1570B6;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: white;
}


.post-container{
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post{
    flex: 0 0 30.333333%;
    margin-bottom:5rem;
    background: rgba( 239, 223, 223, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
    cursor: pointer;
    transition: ease-in .4s;
    background-color: lightgrey;
}

.post:hover{
    transform: scale(1.1);
}